body {
  background-color: #e8e5df;
  width:1500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

header {
  font-family: 'Roboto', sans-serif;
  color: #194F92;
  background-color: #CBD5F0;
  margin-bottom: 20px;
  width:1500px;
  display:flex;
}

nav {
  display: flex;
  flex-direction:column;
  justify-content: center;
  width:1500px;
}

nav ul {
  display:flex;
  justify-content:space-evenly;
  vertical-align: bottom;
}

nav li {
  width: 200px;
  display: flex;
  justify-content: center;
  height:max-content;
}




main {
  margin-bottom: 30px;
  width:1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-us {
  display:flex;
  width:1400px;
  margin-left:30px;
  margin-right:30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

main #about-us p {
  padding: 30px;
}

#images {
  width:1400px;
  width:auto;
}

#images ul {
  display: flex;
  justify-content: space-evenly;
  width: 1400px;
  padding: 0px;
  margin:0px;
}

#images li {
  display:flex;
}

#reviews {
  width: 1400px;
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

#reviews div {
  height: 300px;
  overflow:auto;
}

#reviews p {
  margin-bottom: 30px;
}




footer {
  font-family: 'Roboto', sans-serif;
  color: #194F92;
  background-color: #CBD5F0;
  margin-bottom: 20px;
  display:flex;
  justify-content: space-evenly;
}


h1 {
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  color: #194F92;
  margin-bottom: 20px;
}

h2{
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
  color: #194F92;
}

.sales-data {
  background-color: #EFB7BA;
}

section {
  font-size: 1vw;
  width:17%;
  display:inline-block;
  margin: 10px;
  padding: 10px;
}

table, th, td {
  border: 2px solid black;
  width: 1400px;
}

th, td {
  text-align: center;
  vertical-align: center;
  border: 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  color:#194F92
}

tr {
  height: 40px;
}

th {
    color:red;
    font-weight:1000;
}

fieldset {
  border: 1px solid black;
  padding: 20px;
  margin-top: 30px;
}
